.header{
    background-color: black;
}

.header h1{
    color: white;
    margin-left: 100px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.card-text{
    font-size: .8rem;
}